src/node_modules
src/public/hot
src/public/storage
src/public/css/app.css
src/public/js/app.js
src/public/mix-manifest.json
src/storage/*.key
src/vendor
src/.idea
src/.vscode
src/.vagrant
src/Homestead.json
src/Homestead.yaml
src/npm-debug.log
src/yarn-error.log