.env
/.idea/
/.vscode/
/node_modules
/vendor/
/public/hot
/public/storage
/public/css/app.css
/public/js/app.js
/public/mix-manifest.json
/storage/*.key
/npm-debug.log
/yarn-error.log
/yarn.lock
/package-lock.json
/composer.lock
