.env
.idea
.vscode
.vagrant
node_modules
vendor
supervisord.pid
public/hot
public/storage
public/css/app.css
public/js/app.js
public/mix-manifest.json
storage/*.key
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
docker/db
!resources/views/vendor