.page-messages {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 30%;
    z-index: 1000;
}

@media(max-width: 900px) {
    .page-messages {
        width: 60%;
    }
}

@media(max-width: 500px) {
    .page-messages {
        width: 80%;
        top: 13%;
    }
}

.alert {
    position: relative;
}

.alert .close {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 1em;

    i.fa-times-circle {
        margin-left: 5px;
    }
}