.order-tabs {
    border-bottom: none;

    &__ul {
        border-radius: 5px 5px 0 0;
        padding: 7px 7px 0 7px;
        background: lighten($pink, 3%);

        .nav-link {
            color: #333;

            &.active {
                background: $lightPink;
                border-radius: 5px 5px 0 0;
                border-color: $lightPink;
            }

            b {
                color: brown;
                font-size: .9em;
            }
        }
    }
}