.user-sidebar {
    background: #222;
    position: fixed;
    top: 0;
    height: 100%;
    bottom: 0;
    width: 43px;
    overflow: hidden;
    transition: width 200ms, opacity 200ms;
    transform: translateZ(0) scale(1, 1);
    opacity: .5;
    z-index: 10;
    padding-top: 63px;

    &:hover {
        overflow: visible;
        width: 180px;
        height: 100%;
        overflow-y: scroll;
        opacity: .95;
    }

    &::-webkit-scrollbar {
        width: 0;
        background: transparent;
    }

    ul { margin: 7px 0; }

    .active {
        background: color(pink-darkest);
    }
    
    li {
        position: relative;
        display: block;
        width: 200px;
        line-height: 40px;
        margin: auto;

        &:hover {
            color: #fff;
            background: color(pink-darkest);
        }

        a {
            position: relative;
            display: table;
            border-collapse: collapse;
            border-spacing: 0;
            color: #fff;
            font-size: 14px;
            text-decoration: none;
            transform: translateZ(0) scale(1, 1);
        }
    }

    .remove-hover:hover {
        background: none;
    }
}

.show-user-sidebar-btn {
    height: 34px;
    width: 34px;
    display: none;
    position: fixed;
    left: 11px;
    font-size: 25px;
    color: #4d4d4d;
    z-index: 8;
    top: 55px;
    background-color: #ffffffad;
    border-radius: 50%;
    justify-content: center;
    align-items: center;

    &:hover {
        color: #333;
    }
}

#close-sidebar-button {
    display: none;
}

.red-button {
    position: absolute;
    top: 3px;
    z-index: 5;
    left: 25px;
}

.icon-profile-menu-line {
    width: 25px;
    font-size: 1.6em !important;
    text-align: center;
    margin: 0 10px;
    vertical-align: middle;
}

@media (max-width: $sm-screen) {
    .user-sidebar {
        overflow: visible;
        width: 180px;
        height: 100%;
        overflow-y: scroll;
        opacity: .95;
        transform: translateX(-100%);
        transition: transform 200ms;

        &--active {
            transform: translateX(0);
        }
    }

    .show-user-sidebar-btn {
        display: flex;
    }

    #close-sidebar-button {
        display: block;
    }
}