.btn-change-item {
	position: absolute;
	right: 10px;
	font-size: 1.2em;
	padding: .3em .6em;
	border-radius: 4px;
	background: #eee;
	color: black;
	border: solid 1px gray;
	transition: background-color .3s, opacity .3s;
	opacity: .6;

	&:hover {
		background: #e9e9e9;
		transition: background-color .3s, opacity .3s;
		opacity: 1;
	}
}

.items-sidebar {
	a {
		color: $gray;
	}

	.list-group {
		max-width: 300px;
		box-shadow: 3px 3px 10px rgba(51, 51, 51, .3);
		margin-top: -4.3em;

		.active {
			background: $pink;
			border-color: $darkPink;
			color: $gray;
		}

		h4 {
			text-transform: uppercase;
			color: #333;
		}
	}

	.list-group-item {
		padding: .5em 5px;
		border-radius: 0;
		transition: background-color 200ms;

		&:hover {
			background: $pink;
			transition: background-color 200ms;
		}
	}
}

.category-btn {
	display: none;
	min-width:250px;
	border:solid 2px #e3e5ea;
}

@media (max-width: 767px) {
	.items-sidebar {
		width: 250px;
		position: absolute;
		z-index: 10;
		padding: 0;
		margin-top: 2.5em;
		left: -270px;
		transition: left 200ms;
	}

	.category-btn {
		display: inline-block;
	}
}
