.main-banner {
	position: relative;
	max-height: 1000px;
	overflow: hidden;

	&:hover .imgbanbtn {
		display: block;
	}
}

.imgbanbtn {
    width: 3rem;
    height: 3rem;
    background: #000;
    border-radius: .25rem;
    position: absolute;
	top: 50%;
	transform: translateY(-50%);
    z-index: 2000;
    opacity: 0.6;
    cursor: pointer;
    background-size: 40%;
    background-position: center;
    background-repeat: no-repeat;
	display: none;

	&:hover {
		opacity: 0.8;
	}
	
	&-prev {
		left: .31rem;
	}
	
	&-next {
		right: .31rem;
	}
}

.slider {
	background-size: cover;
	background-color: #333;
	background-position: center;
	height: 600px;
}

@media (max-width: 992px)  {.slider { height: 400px }}
@media (max-width: 768px)  {.slider { height: 300px }}
@media (max-width: 576px)  {.slider { height: 200px }}
@media (max-width: 480px)  {.slider { height: 150px }}