.three-cards {
	width: 90%;
	margin: 0 5%;

	.one-card {
		overflow: hidden;
		position: relative;
		margin-bottom: .7em;
	
		img {
			width: 90%;
			margin: 0 5%;
		}
	}
}

.card-btn {
	position: absolute;
	bottom: 10%;
	left: 50%;
	transform: translate(-50%);
	background: #000000;
	color: #fff;
	opacity: .8;
	transition: opacity 400ms;
	border: solid 1px $darkGray;

	&:hover {
		opacity: .9;
		color: #fff;
	}

	span {
		display: block;
		padding: .3em 1.7em;
		font-size: 1.5em;
	}
}

@media (min-width: 768px) {
	.one-card img {
		width: 300px;
		margin: 0 2%;
	}
}