* {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  background: #f9f8f6;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

main {
  padding-top: 3em;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
}

@media (min-width: 840px) {
  main {
    padding-top: 0;
  }
}

.unstyled-list {
  list-style: none;
}

@media (min-width: 840px) {
  .hide-on-desktop {
    display: none !important;
  }
}

.message {
  display: inline-block;
  padding: .5em 1em;
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
  -webkit-animation: appearFromLeft 8s;
          animation: appearFromLeft 8s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  font-size: .9em;
  color: #fff;
  border-radius: 5px;
  margin-top: .5em;
}

.loading,
.loading::before {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 10em;
  left: 50%;
  margin-left: -20px;
  border: 3px solid transparent;
  border-top: 3px solid #646464;
  border-bottom: 3px solid #646464;
  border-radius: 50%;
  -webkit-animation: loadingRotate 1.1s infinite linear;
          animation: loadingRotate 1.1s infinite linear;
  z-index: 100;
}

.loading::before {
  width: 20px;
  height: 20px;
  content: '';
  top: 7px;
  left: 7px;
  margin: 0;
}

.loading-title {
  position: absolute;
  top: 11em;
  left: 50%;
  font-size: 1.2em;
  margin-left: -40px;
  -webkit-animation: none;
          animation: none;
  border: none;
  color: #646464;
  z-index: 100;
}

.alert-pink {
  background: #EDE2ED;
  border: 1px solid #ecdcdc;
  color: #000;
  font-weight: normal;
}

.display-4 {
  font-size: 1.8rem;
}

/* Hamburger
==================== */

#hamburger-container {
  opacity: .9;
  height: 50px;
  position: fixed;
  top: 0;
  font-size: 1.7em;
  line-height: 1.8em;
  background: #f9f8f6;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  z-index: 11;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

#hamburger-container #hamburger {
  width: 26px;
  height: 33px;
  position: absolute;
  color: #313131;
  top: 50%;
  margin-top: -17px;
  display: block;
}

#hamburger-container #hamburger .lines {
  width: 26px;
  height: 4px;
  left: 0px;
  background: #000;
  position: absolute;
  border-radius: 5px;
}

#hamburger-container #hamburger .line1 {
  top: 8px;
}

#hamburger-container #hamburger .line2 {
  top: 16px;
}

#hamburger-container #hamburger .line3 {
  top: 24px;
}

.hamburger-up {
  width: 100%;
}

.hamburger-up #hamburger {
  left: 15px;
}

.hamburger-down {
  width: 1.8em;
  position: fixed;
  margin: .5em;
  border-radius: 3px;
  border: solid 1px #b8b8b8;
}

.hamburger-down #hamburger {
  left: 11px;
}

.hamburger:hover {
  background: #444;
}

.top-nav {
  width: 100%;
  background: #fff;
  position: fixed;
  -webkit-transition: top 400ms;
  transition: top 400ms;
  top: -25em;
  z-index: 11;
  border-bottom: 3px solid #E9DFE9;
}

.top-nav ul {
  text-align: center;
  padding: 1em 0;
}

.top-nav li a {
  width: 100%;
  display: inline-block;
  padding: .6em 0;
  text-transform: uppercase;
  -webkit-transition: color 200ms;
  transition: color 200ms;
  border-radius: 6px;
  color: #000;
  text-decoration: none;
}

.top-nav li a:hover {
  color: #d67d7d;
}

.top-nav .close-top-nav {
  display: inline-block;
}

@media (min-width: 768px) {
  #hamburger-container {
    display: none;
  }

  .top-nav {
    position: initial;
    width: 100%;
    height: 3.2em;
    margin: 0;
    top: 0em;
    border: none;
  }

  .top-nav ul {
    padding: .3em;
  }

  .top-nav li {
    margin-right: 1em;
    display: inline-block;
  }

  .top-nav li a {
    width: auto;
    padding: .3em .2em;
  }

  .top-nav .active {
    border-bottom: 2px solid #974c4c;
  }

  .top-nav .close-top-nav {
    display: none;
  }
}

header {
  display: none;
}

.nav-logo,
.header-logo {
  width: 100%;
  display: block;
  font-size: 1.8em;
  font-weight: bold;
  text-transform: uppercase;
  margin: .5em auto;
  color: #000;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
}

.nav-logo:hover,
.header-logo:hover {
  color: #424242;
}

.header-search input,
.nav-search input {
  width: 15.5em;
  height: 2em;
  line-height: 2em;
  margin: 5px auto;
  padding: 0 1em;
  margin-top: .2em;
  border-radius: 2em;
  border: 1px solid #ecdcdc;
  font-size: 1rem;
  color: #444;
}

.nav-and-header-btns {
  display: inline-block;
  width: 13em;
  margin: 1.3em auto;
  padding: .5em 1em;
  border-radius: 10em;
  color: #fff;
  -webkit-transition: background-color 200ms;
  transition: background-color 200ms;
  background: #3c3c3c;
  text-align: center;
  font-size: .9em;
  cursor: pointer;
}

.nav-and-header-btns {
  background: #554d4d;
}

@media (min-width: 768px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 4em;
    background: #f9f8f6;
  }

  .header-logo {
    display: inline-block;
    width: auto;
    text-align: left;
    margin: 0;
    padding: 0 1.5em;
  }

  .nav-logo {
    display: none;
  }

  .nav-search input {
    display: none;
  }

  .header-search input {
    width: 18em;
  }
}

.contact-container {
  height: auto;
  min-height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #f2e9f2;
  font-weight: bold;
  font-size: .9em;
  padding: .4em 0;
  -webkit-box-shadow: inset 0 15px 8px -16px #111;
          box-shadow: inset 0 15px 8px -16px #111;
  clear: both;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-animation: appearContactContainer 500ms ease-in-out 100ms 1 normal forwards;
          animation: appearContactContainer 500ms ease-in-out 100ms 1 normal forwards;
}

.contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 100%;
}

.gsm-operator {
  width: 25px;
  height: 25px;
  margin: 5px;
}

.main-slider {
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  border-right: solid 4px #444;
}

.main-slider:hover .imgbanbtn {
  display: block;
}

.slider-items {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.slider-items-card img {
  max-width: 100%;
  height: auto;
  max-height: 200px;
}

.slider-items-card:first-of-type img {
  border-bottom: solid 4px #444;
}

.imgbanbtn {
  width: 3rem;
  height: 3rem;
  background: #000;
  border-radius: .25rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2000;
  opacity: 0.6;
  cursor: pointer;
  background-size: 40%;
  background-position: center;
  background-repeat: no-repeat;
  display: none;
}

.imgbanbtn:hover {
  opacity: 0.8;
}

.imgbanbtn-prev {
  left: .31rem;
}

.imgbanbtn-next {
  right: .31rem;
}

.three-cards {
  width: 90%;
  margin: 0 5%;
}

.three-cards .one-card {
  overflow: hidden;
  position: relative;
  margin-bottom: .7em;
}

.three-cards .one-card img {
  width: 90%;
  margin: 0 5%;
}

.card-btn {
  position: absolute;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background: #000000;
  color: #fff;
  opacity: .8;
  -webkit-transition: opacity 400ms;
  transition: opacity 400ms;
  border: solid 1px #444;
}

.card-btn:hover {
  opacity: .9;
  color: #fff;
}

.card-btn span {
  display: block;
  padding: .3em 1.7em;
  font-size: 1.5em;
}

@media (min-width: 768px) {
  .one-card img {
    width: 300px;
    margin: 0 2%;
  }
}

.main-content {
  background: #F2F2F2;
}

.item-card {
  height: auto;
  text-align: center;
  margin-bottom: 10px;
}

.item-card img {
  width: 100%;
  height: auto;
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
  border-radius: 2px;
  border: 1px dotted #ecdcdc;
  margin-bottom: 5px;
}

.item-card img:hover {
  -webkit-transform: scale(1.05) translateZ(0);
          transform: scale(1.05) translateZ(0);
}

.item-card-price {
  min-width: 100%;
  margin: 0 auto;
  font-weight: bold;
  font-size: .9em;
  text-align: left;
}

.item-card-price span {
  display: block;
  color: #646464;
  font-size: .9em;
  padding: 0 6px;
}

.item-card-price .hryvnia {
  display: inline-block;
  font-size: 1.3em;
  color: #974c4c;
  margin-right: -13px;
}

@media (min-width: 500px) {
  .item-card-price {
    width: 100%;
  }
}

.btn-change-item {
  position: absolute;
  right: 10px;
  font-size: 1.2em;
  padding: .3em .6em;
  border-radius: 4px;
  background: #eee;
  color: black;
  border: solid 1px gray;
  -webkit-transition: background-color .3s, opacity .3s;
  transition: background-color .3s, opacity .3s;
  opacity: .6;
}

.btn-change-item:hover {
  background: #e9e9e9;
  -webkit-transition: background-color .3s, opacity .3s;
  transition: background-color .3s, opacity .3s;
  opacity: 1;
}

.items-sidebar a {
  color: #646464;
}

.items-sidebar .list-group {
  max-width: 300px;
  -webkit-box-shadow: 3px 3px 10px rgba(51, 51, 51, 0.3);
          box-shadow: 3px 3px 10px rgba(51, 51, 51, 0.3);
  margin-top: -4.3em;
}

.items-sidebar .list-group .active {
  background: #EDE2ED;
  border-color: #ecdcdc;
  color: #646464;
}

.items-sidebar .list-group h4 {
  text-transform: uppercase;
  color: #333;
}

.items-sidebar .list-group-item {
  padding: .5em 5px;
  border-radius: 0;
  -webkit-transition: background-color 200ms;
  transition: background-color 200ms;
}

.items-sidebar .list-group-item:hover {
  background: #EDE2ED;
  -webkit-transition: background-color 200ms;
  transition: background-color 200ms;
}

.category-btn {
  display: none;
  min-width: 250px;
  border: solid 2px #e3e5ea;
}

@media (max-width: 767px) {
  .items-sidebar {
    width: 250px;
    position: absolute;
    z-index: 10;
    padding: 0;
    margin-top: 2.5em;
    left: -270px;
    -webkit-transition: left 200ms;
    transition: left 200ms;
  }

  .category-btn {
    display: inline-block;
  }
}

.single-container {
  padding-top: .5em;
  background: #fff;
}

.images-to-show {
  width: 70px;
}

.active-photo {
  border: solid 1px pink;
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}

.single-image img {
  width: 80%;
  height: auto;
  border: 1px dotted #ecdcdc;
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}

.single-price {
  font-size: 2em;
  line-height: .9;
  text-align: right;
}

.single-price span {
  font-size: .5em;
  font-weight: normal;
}

.sidebar {
  background: #F2F2F2;
  border-top: 1px dotted #ecdcdc;
}

@media (min-width: 500px) {
  .single-image img {
    width: 100%;
  }

  .single-price {
    font-size: 2.5em;
  }
}

@media (min-width: 500px) {
  .images-to-show {
    width: 70px;
  }
}

@media (max-width: 370px) {
  .images-to-show {
    width: 45px;
  }
}

@media (max-width: 290px) {
  .images-to-show {
    width: 35px;
  }
}

#table-log {
  font-size: 0.85rem;
  word-wrap: wrap;
}

.logs .sidebar {
  line-height: 1.1;
}

.logs .text {
  word-break: break-all;
}

.logs .list-group-item-dark {
  background: #343a40;
  color: #fff;
}

.logs .list-group-item-dark:hover {
  background: #2c333a;
  color: #fff;
}

@media (max-width: 455px) {
  .logs .my-table {
    overflow: auto;
    white-space: nowrap;
  }

  .text {
    text-align: left;
  }
}

.user-sidebar {
  background: #222;
  position: fixed;
  top: 0;
  height: 100%;
  bottom: 0;
  width: 43px;
  overflow: hidden;
  -webkit-transition: width 200ms, opacity 200ms;
  transition: width 200ms, opacity 200ms;
  -webkit-transform: translateZ(0) scale(1, 1);
          transform: translateZ(0) scale(1, 1);
  opacity: .5;
  z-index: 10;
  padding-top: 51px;
}

.user-sidebar:hover {
  overflow: visible;
  width: 200px;
  height: 100%;
  overflow-y: scroll;
  opacity: .95;
}

.user-sidebar::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.user-sidebar ul {
  margin: 7px 0;
}

.user-sidebar .active {
  background: #974c4c;
}

.user-sidebar li {
  position: relative;
  display: block;
  width: 200px;
  line-height: 40px;
  margin: auto;
}

.user-sidebar li:hover {
  color: #fff;
  background: #974c4c;
}

.user-sidebar li a {
  position: relative;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  color: #fff;
  font-family: arial;
  font-size: 14px;
  text-decoration: none;
  -webkit-transform: translateZ(0) scale(1, 1);
          transform: translateZ(0) scale(1, 1);
}

.user-sidebar .remove-hover:hover {
  background: none;
}

.user-sidebar .red-buttons[data-notif]::after {
  content: attr(data-notif);
  font-family: Arial, Helvetica;
  min-width: 16px;
  height: 16px;
  line-height: 15px;
  text-align: center;
  font-size: 11px;
  display: inline-block;
  position: absolute;
  left: 23px;
  top: 5px;
  color: #fff;
  text-shadow: none;
  background: #860101;
  border: solid 1px #fff;
  border-radius: 50%;
}

.icon-profile-menu-line {
  width: 25px;
  font-size: 1.6em !important;
  text-align: center;
  margin: 0 10px;
  vertical-align: middle;
}

footer {
  padding-top: 2em;
  background: #3C3C3C;
}

footer h4 {
  widows: 100%;
  color: #fff;
  font-size: 0.9em;
  text-transform: uppercase;
}

footer a {
  color: #9e9e9e;
  font-size: 0.85em;
}

footer a:hover {
  color: #fff;
}

.copyright {
  padding: 1em 0;
  color: #999;
  font-size: .8em;
}

.languages a {
  display: block;
}

.languages a img {
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
  margin: .7em 4px;
}

.languages a img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

@-webkit-keyframes appearContactContainer {
  from {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }

  to {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes appearContactContainer {
  from {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }

  to {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@-webkit-keyframes appearFromLeft {
  0% {
    margin-left: -100em;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    position: static;
  }

  5% {
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    position: static;
  }

  80% {
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    position: static;
  }

  90% {
    margin-left: -100em;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }

  100% {
    position: absolute;
    left: -100em;
  }
}

@keyframes appearFromLeft {
  0% {
    margin-left: -100em;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    position: static;
  }

  5% {
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    position: static;
  }

  80% {
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    position: static;
  }

  90% {
    margin-left: -100em;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }

  100% {
    position: absolute;
    left: -100em;
  }
}

@-webkit-keyframes loadingRotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loadingRotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */

/* FONT PATH
 * -------------------------- */

@font-face {
  font-family: 'FontAwesome';
  src: url(/fonts/fontawesome-webfont.eot?674f50d287a8c48dc19ba404d20fe713);
  src: url(/fonts/fontawesome-webfont.eot?674f50d287a8c48dc19ba404d20fe713) format("embedded-opentype"), url(/fonts/fontawesome-webfont.woff2?af7ae505a9eed503f8b8e6982036873e) format("woff2"), url(/fonts/fontawesome-webfont.woff?fee66e712a8a08eef5805a46892932ad) format("woff"), url(/fonts/fontawesome-webfont.ttf?b06871f281fee6b241d60582ae9369b9) format("truetype");
  font-weight: normal;
  font-style: normal;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* makes the font 33% larger relative to the icon container */

.fa-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.fa-2x {
  font-size: 2em;
}

.fa-3x {
  font-size: 3em;
}

.fa-4x {
  font-size: 4em;
}

.fa-5x {
  font-size: 5em;
}

.fa-fw {
  width: 1.28571429em;
  text-align: center;
}

.fa-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}

.fa-ul > li {
  position: relative;
}

.fa-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}

.fa-li.fa-lg {
  left: -1.85714286em;
}

.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eee;
  border-radius: .1em;
}

.fa-pull-left {
  float: left;
}

.fa-pull-right {
  float: right;
}

.fa.fa-pull-left {
  margin-right: .3em;
}

.fa.fa-pull-right {
  margin-left: .3em;
}

/* Deprecated as of 4.4.0 */

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.fa.pull-left {
  margin-right: .3em;
}

.fa.pull-right {
  margin-left: .3em;
}

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}

.fa-stack-1x,
.fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

.fa-stack-1x {
  line-height: inherit;
}

.fa-stack-2x {
  font-size: 2em;
}

.fa-inverse {
  color: #fff;
}

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */

.fa-user-circle-o:before {
  content: "\F2BE";
}

.fa-suitcase:before {
  content: "\F0F2";
}

.fa-plus-circle:before {
  content: "\F055";
}

.fa-picture-o:before {
  content: "\F03E";
}

.fa-file-image-o:before {
  content: "\F1C5";
}

.fa-phone:before {
  content: "\F095";
}

.fa-shopping-bag:before {
  content: "\F290";
}

.fa-question-circle-o:before {
  content: "\F29C";
}

.fa-power-off:before {
  content: "\F011";
}

.fa-shopping-cart:before {
  content: "\F07A";
}

.fa-pencil:before {
  content: "\F040";
}

.fa-trash-o:before {
  content: "\F014";
}

.fa-star-o:before {
  content: "\F006";
}

.fa-search:before {
  content: "\F002";
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

