* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  line-height: 1.6;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: #444;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

main {
  padding-top: 3em;
}

textarea,
input {
  font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 840px) {
  main {
    padding-top: 0;
  }
}

.unstyled-list {
  list-style: none;
}

.center {
  text-align: center;
}

.heading {
  height: 3em;
  line-height: 3em;
  font-size: 1.3em;
  margin-bottom: .3em;
  text-align: center;
}

.block {
  display: block;
  margin: auto;
}

.spacer {
  padding: 8px 0;
}

.message {
  display: inline-block;
  padding: .5em 1em;
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
  -webkit-animation: appearFromLeft 8s;
          animation: appearFromLeft 8s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  font-size: .9em;
  color: #fff;
  border-radius: 5px;
  margin-top: .5em;
}

.error {
  background: #d34343;
}

.success {
  background: #3da355;
}

/*!
 * bootstrap-grid 3.0.0
 * Copyright 2015-present, Santeri Hiltunen
 * Licensed under MIT (https://github.com/Hilzu/bootstrap-grid/blob/master/LICENSE)
 */

@-ms-viewport {
  width: device-width;
}

.container:after,
.container:before,
.row:after,
.row:before {
  content: " ";
  display: table;
}

.container:after,
.row:after {
  clear: both;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  position: relative;
  min-height: 1px;
}

.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  float: left;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-11 {
  width: 91.66666667%;
}

.col-xs-10 {
  width: 83.33333333%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-8 {
  width: 66.66666667%;
}

.col-xs-7 {
  width: 58.33333333%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-5 {
  width: 41.66666667%;
}

.col-xs-4 {
  width: 33.33333333%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-2 {
  width: 16.66666667%;
}

.col-xs-1 {
  width: 8.33333333%;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

.col-xs-offset-11 {
  margin-left: 91.66666667%;
}

.col-xs-offset-10 {
  margin-left: 83.33333333%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-8 {
  margin-left: 66.66666667%;
}

.col-xs-offset-7 {
  margin-left: 58.33333333%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-5 {
  margin-left: 41.66666667%;
}

.col-xs-offset-4 {
  margin-left: 33.33333333%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-2 {
  margin-left: 16.66666667%;
}

.col-xs-offset-1 {
  margin-left: 8.33333333%;
}

.col-xs-offset-0 {
  margin-left: 0;
}

@media (min-width: 768px) {
  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9 {
    float: left;
  }

  .col-sm-12 {
    width: 100%;
  }

  .col-sm-11 {
    width: 91.66666667%;
  }

  .col-sm-10 {
    width: 83.33333333%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-8 {
    width: 66.66666667%;
  }

  .col-sm-7 {
    width: 58.33333333%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-5 {
    width: 41.66666667%;
  }

  .col-sm-4 {
    width: 33.33333333%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-2 {
    width: 16.66666667%;
  }

  .col-sm-1 {
    width: 8.33333333%;
  }

  .col-sm-offset-12 {
    margin-left: 100%;
  }

  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }

  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-sm-offset-0 {
    margin-left: 0;
  }
}

@media (min-width: 992px) {
  .col-md-1,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9 {
    float: left;
  }

  .col-md-12 {
    width: 100%;
  }

  .col-md-11 {
    width: 91.66666667%;
  }

  .col-md-10 {
    width: 83.33333333%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-8 {
    width: 66.66666667%;
  }

  .col-md-7 {
    width: 58.33333333%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-5 {
    width: 41.66666667%;
  }

  .col-md-4 {
    width: 33.33333333%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-2 {
    width: 16.66666667%;
  }

  .col-md-1 {
    width: 8.33333333%;
  }

  .col-md-offset-12 {
    margin-left: 100%;
  }

  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }

  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-md-offset-0 {
    margin-left: 0;
  }
}

@media (min-width: 1200px) {
  .col-lg-1,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9 {
    float: left;
  }

  .col-lg-12 {
    width: 100%;
  }

  .col-lg-11 {
    width: 91.66666667%;
  }

  .col-lg-10 {
    width: 83.33333333%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-8 {
    width: 66.66666667%;
  }

  .col-lg-7 {
    width: 58.33333333%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-5 {
    width: 41.66666667%;
  }

  .col-lg-4 {
    width: 33.33333333%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-2 {
    width: 16.66666667%;
  }

  .col-lg-1 {
    width: 8.33333333%;
  }

  .col-lg-offset-12 {
    margin-left: 100%;
  }

  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }

  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-lg-offset-0 {
    margin-left: 0;
  }
}

/* Hamburger
==================== */

#hamburger-container {
  opacity: .9;
  height: 50px;
  position: fixed;
  top: 0;
  font-size: 1.7em;
  line-height: 1.8em;
  background: #f9f8f6;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  z-index: 2;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

#hamburger-container #hamburger {
  width: 26px;
  height: 33px;
  position: absolute;
  color: #313131;
  top: 50%;
  margin-top: -17px;
  display: block;
}

#hamburger-container #hamburger .lines {
  width: 26px;
  height: 4px;
  left: 0px;
  background: #000;
  position: absolute;
  border-radius: 5px;
}

#hamburger-container #hamburger .line1 {
  top: 8px;
}

#hamburger-container #hamburger .line2 {
  top: 16px;
}

#hamburger-container #hamburger .line3 {
  top: 24px;
}

.hamburger-up {
  width: 100%;
}

.hamburger-up #hamburger {
  left: 15px;
}

.hamburger-down {
  width: 1.8em;
  position: fixed;
  margin: .5em;
  border-radius: 3px;
  border: solid 1px #b8b8b8;
}

.hamburger-down #hamburger {
  left: 11px;
}

.hamburger:hover {
  background: #444;
}

.main-banner {
  position: relative;
  max-height: 1000px;
  overflow: hidden;
}

.main-banner:hover .imgbanbtn {
  display: block;
}

.main-banner img {
  width: 100%;
}

.imgbanbtn {
  width: 3rem;
  height: 3rem;
  background: #000;
  border-radius: .25rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2000;
  opacity: 0.6;
  cursor: pointer;
  background-size: 40%;
  background-position: center;
  background-repeat: no-repeat;
  display: none;
}

.imgbanbtn:hover {
  opacity: 0.8;
}

.imgbanbtn-prev {
  left: .31rem;
}

.imgbanbtn-next {
  right: .31rem;
}

header {
  display: none;
}

.header-logo,
.nav-logo {
  display: block;
  font-size: 1.8em;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 1em;
  color: #000;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
}

.header-search input,
.nav-search input {
  width: 15em;
  height: 2em;
  margin: 0 auto;
  padding: 0 1em;
  margin-top: .2em;
  border-radius: 2em;
  border: 1px solid #ecdcdc;
  font-size: 1rem;
  color: #444;
}

.nav-and-header-btns {
  display: inline-block;
  width: 13em;
  margin: 1.3em auto;
  padding: .5em 1em;
  border-radius: 10em;
  color: #fff;
  -webkit-transition: background-color 200ms;
  transition: background-color 200ms;
  background: #3c3c3c;
  text-align: center;
  font-size: .9em;
  cursor: pointer;
}

.nav-and-header-btns {
  background: #554d4d;
}

@media (min-width: 840px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 4em;
    background: #f9f8f6;
  }

  .header-logo {
    display: inline-block;
    font-size: 1.5em;
    padding: 0 1.5em;
  }

  .nav-logo {
    display: none;
  }

  .nav-search input {
    display: none;
  }

  .header-search input {
    width: 18em;
  }

  #nav-callback {
    display: none;
  }
}

#overlay {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 9;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
  opacity: 0;
  display: none;
}

#popup-callback {
  height: auto;
  position: fixed;
  top: -20em;
  left: 10%;
  right: 10%;
  background: #f9f8f6;
  z-index: 10;
  border-radius: 4px;
  -webkit-transition: top 600ms, bottom 200ms;
  transition: top 600ms, bottom 200ms;
}

.callback-form {
  padding: 1em;
}

.callback-form input {
  width: 80%;
  height: 2em;
  margin: 0 10% .2em 10%;
  padding: 0 1em;
  border-radius: 2em;
  border: 1px solid #ecdcdc;
  font-size: 1rem;
  color: #444;
  font-weight: bold;
}

.callback-form input:last-of-type {
  background: #EDE2ED;
}

.callback-form label {
  display: block;
  padding: .5em;
  text-align: center;
  font-size: 0.9em;
  font-weight: bold;
}

#close-popup-form-btn {
  width: 80%;
  height: 2em;
  line-height: 2em;
  text-align: center;
  display: block;
  margin: 0 10%;
  border-radius: 2em;
  border: 1px solid #dbc7c7;
  padding: 0 1em;
  color: #444;
  font-weight: bold;
}

.callback-form input:last-of-type:hover,
#close-popup-form-btn:hover {
  background: #ecdcdc;
}

@media (min-width: 640px) {
  #popup-callback {
    width: 35em;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }

  .callback-form input,
  .callback-form label,
  #close-popup-form-btn {
    display: block;
    width: 20em;
    margin: .2em auto;
  }
}

.top-nav {
  width: 100%;
  background: #fff;
  position: fixed;
  -webkit-transition: top 400ms;
  transition: top 400ms;
  top: -25em;
  z-index: 1;
  border-bottom: 3px solid #E9DFE9;
}

.top-nav ul {
  text-align: center;
  padding: 1em 0;
}

.top-nav li a {
  width: 100%;
  display: inline-block;
  padding: .6em 0;
  text-transform: uppercase;
  -webkit-transition: color 200ms;
  transition: color 200ms;
  border-radius: 6px;
  color: #000;
}

.top-nav li a:hover {
  color: #d67d7d;
}

.top-nav .close-top-nav {
  display: block;
}

@media (min-width: 840px) {
  #hamburger-container {
    display: none;
  }

  .top-nav {
    position: initial;
    width: 100%;
    height: 3.2em;
    margin: 0;
    top: 0em;
    border: none;
  }

  .top-nav ul {
    padding: .3em;
  }

  .top-nav li {
    margin-right: 1em;
    display: inline-block;
  }

  .top-nav li a {
    width: auto;
    padding: .3em .2em;
  }

  .top-nav .close-top-nav {
    display: none;
  }
}

.home-banner img {
  width: 100%;
}

.contact-container {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #EDE3ED;
  font-weight: bold;
  font-size: .9em;
  padding: .4em 0;
  -webkit-box-shadow: inset 0 15px 8px -16px #111;
          box-shadow: inset 0 15px 8px -16px #111;
  clear: both;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-animation: appearContactContainer 500ms ease-in-out 100ms 1 normal forwards;
          animation: appearContactContainer 500ms ease-in-out 100ms 1 normal forwards;
}

.contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gsm-operator {
  margin: 0 .3em;
}

.three-cards {
  width: 90%;
  margin: 0 5%;
}

.one-of-three-cards {
  overflow: hidden;
  position: relative;
}

.one-of-three-cards img {
  width: 90%;
  margin: 0 5%;
}

.card-btn {
  position: absolute;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background: #000000;
  color: #fff;
  padding: 0 .5em;
  opacity: .8;
  -webkit-transition: opacity 400ms;
  transition: opacity 400ms;
  border: solid 1px #444;
}

.card-btn:hover {
  opacity: .9;
}

.card-btn span {
  display: block;
  padding: .4em 2em;
  font-size: 1.5em;
}

@media (min-width: 768px) {
  .one-of-three-cards img {
    width: 96%;
    margin: 0 2%;
  }
}

.main-content {
  background: #F2F2F2;
}

.card {
  height: 290px;
  text-align: center;
}

.card img {
  width: 140px;
  height: auto;
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
  border-radius: 2px;
  border: 1px dotted #ecdcdc;
}

.card img:hover {
  -webkit-transform: scale(1.05) translateZ(0);
          transform: scale(1.05) translateZ(0);
}

.card-price {
  width: 140px;
  margin: 0 auto;
  font-weight: bold;
  font-size: .9em;
  text-align: left;
}

.card-price span {
  display: block;
  color: #646464;
  font-size: .9em;
}

.card-price span:last-of-type {
  font-size: 1.2em;
  color: #444;
}

.card-status {
  font-size: .8em !important;
}

@media (min-width: 500px) {
  .card {
    height: 340px;
  }

  .card img {
    width: 180px;
  }

  .card-price {
    width: 180px;
  }
}

.single-container {
  padding-top: .5em;
  background: #fff;
}

.single-image {
  text-align: center;
  padding: 0 1em;
}

.single-image img {
  width: 80%;
  height: auto;
  border: 1px dotted #ecdcdc;
  border-radius: 2px;
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}

.single-image img:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.single-info {
  padding: 1em 8%;
  font-weight: bold;
}

.single-status {
  color: #646464;
}

.single-info span {
  display: block;
}

.single-price {
  font-size: 3em;
  line-height: .9;
  text-align: right;
}

.single-price span {
  font-size: .5em;
  margin-right: 3px;
  font-weight: normal;
}

.single-title {
  font-size: 1.5em;
}

.single-intro {
  padding: 2em 0 3em 0;
  color: #646464;
  font-size: .93em;
}

.sidebar {
  background: #F2F2F2;
  padding-top: .5em;
  margin-top: 2em;
  border-top: 1px dotted #ecdcdc;
}

@media (min-width: 500px) {
  .single-image img {
    width: 100%;
  }

  .single-info {
    padding: 1em;
  }
}

.form {
  width: 100%;
  max-width: 30em;
  margin: auto;
  padding-bottom: 1em;
}

.form input[type=email],
.form input[type=password],
.form input[type=text],
.form label {
  width: 80%;
  display: block;
  margin: auto;
  color: #444;
}

.form input[type=email],
.form input[type=password],
.form input[type=text] {
  height: 2em;
  border-radius: 5px;
  border: solid 2px #ecdcdc;
  font-size: 1rem;
  padding: 0 .5em;
  outline-color: #646464;
}

.form input[type=checkbox] {
  width: 16px;
  height: 16px;
  margin-top: 3px;
  margin-right: .5em;
  background: coral;
}

.form .checkbox {
  width: 80%;
  font-size: .9em;
  margin: .5em auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.form label {
  font-size: .85em;
  margin-top: .2em;
  padding-left: .1em;
}

.form .btn {
  width: 80%;
  height: 2.3em;
  border: solid 2px #ecdcdc;
  padding: .3em 1em;
  background: #f9f8f6;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: background 200ms;
  transition: background 200ms;
}

.form .btn:hover {
  background: #EDE2ED;
  -webkit-transition: background 200ms;
  transition: background 200ms;
}

.pagination {
  display: block;
  text-align: center;
  clear: both;
  margin: 1.5em auto;
  padding: 0 1em;
  font-weight: bold;
}

/* All buttons */

.pagination span,
.pagination a {
  display: inline-block;
  text-align: center;
  min-width: 2em;
  border-radius: 2px;
  padding: 1px 5px;
}

.pagination span {
  color: #fff;
  background: #444;
  border: solid 1px #444;
}

.pagination span:hover {
  cursor: not-allowed;
}

.pagination a {
  border: solid 1px #444;
  color: #000;
}

.pagination a:hover,
.pagination a:active {
  background: #e0e0e0;
}

footer {
  text-align: left;
  padding-top: 1em;
  background: #3C3C3C;
  line-height: 1.75;
}

footer nav {
  padding: 1em 0 1em 3em;
}

footer h4 {
  color: #fff;
  font-size: 0.9em;
  text-transform: uppercase;
}

footer a {
  color: #9e9e9e;
  font-size: 0.85em;
}

footer a:hover {
  color: #fff;
}

.copyright {
  padding-top: 6em;
  padding-bottom: 2em;
  color: #999;
}

@-webkit-keyframes appearContactContainer {
  from {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }

  to {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes appearContactContainer {
  from {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }

  to {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@-webkit-keyframes appearFromLeft {
  0% {
    margin-left: -100em;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    position: static;
  }

  5% {
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    position: static;
  }

  80% {
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    position: static;
  }

  90% {
    margin-left: -100em;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }

  100% {
    position: absolute;
    left: -100em;
  }
}

@keyframes appearFromLeft {
  0% {
    margin-left: -100em;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    position: static;
  }

  5% {
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    position: static;
  }

  80% {
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    position: static;
  }

  90% {
    margin-left: -100em;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }

  100% {
    position: absolute;
    left: -100em;
  }
}

