* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  line-height: 1.6;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

a {
  text-decoration: none;
  color: #444;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

main {
  padding-top: 3em;
}

textarea,
input {
  font-family: Arial, Helvetica, sans-serif;
}

@-webkit-keyframes appearContactContainer {
  from {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }

  to {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes appearContactContainer {
  from {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }

  to {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

.center {
  text-align: center;
}

.message {
  padding: .5em;
  background: var(--pink);
}

/* Hamburger
==================== */

#hamburger-container {
  opacity: .9;
  height: 1.8em;
  position: fixed;
  font-size: 1.7em;
  line-height: 1.8em;
  background: var(--lightPink);
  -webkit-transition: all 300ms;
  transition: all 300ms;
  z-index: 2;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

#hamburger {
  position: fixed;
  cursor: pointer;
  padding: .4em;
  color: #313131;
  left: .55em;
}

.hamburger-up {
  width: 100%;
  padding-left: .6em;
}

.hamburger-down {
  width: 1.8em;
  position: fixed;
  margin: .5em;
  border-radius: 3px;
  border: solid 1px #b8b8b8;
}

.hamburger:hover {
  background: var(--mainHover);
}

/* Banner
==================== */

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.main-banner {
  position: relative;
  max-height: 1000px;
  overflow: hidden;
}

.main-banner img {
  width: 100%;
  overflow: hidden;
  -webkit-animation: fade-in 500ms;
          animation: fade-in 500ms;
}

.imgbanbtn {
  width: 3rem;
  height: 3rem;
  background: #000;
  border-radius: .25rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2000;
  opacity: 0.6;
  cursor: pointer;
  background-size: 40%;
  background-position: center;
  background-repeat: no-repeat;
  display: none;
}

.main-banner:hover .imgbanbtn {
  display: block;
}

.imgbanbtn:hover {
  opacity: 0.8;
}

.imgbanbtn-prev {
  left: .31rem;
}

.imgbanbtn-next {
  right: .31rem;
}

/* Header and Nav
==================== */

header {
  display: none;
}

.header-logo,
.nav-logo {
  display: block;
  font-size: 1.8em;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 1em;
  color: #000;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
}

.header-search input,
.nav-search input {
  width: 15em;
  height: 2em;
  margin: 0 auto;
  padding: 0 1em;
  margin-top: .2em;
  border-radius: 2em;
  border: 1px solid var(--darkPink);
  font-size: 1rem;
  color: var(--darkGray);
}

.nav-and-header-btns {
  display: inline-block;
  width: 13em;
  margin: 1.3em auto;
  padding: .5em 1em;
  border-radius: 10em;
  color: #fff;
  -webkit-transition: background-color 200ms;
  transition: background-color 200ms;
  background: #3c3c3c;
  text-align: center;
  font-size: .9em;
  cursor: pointer;
}

.nav-and-header-btns {
  background: #554d4d;
}

/* Popup Callback
==================== */

#overlay {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 9;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
  opacity: 0;
  display: none;
}

#popup-callback {
  height: auto;
  position: fixed;
  top: -20em;
  left: 10%;
  right: 10%;
  background: var(--lightPink);
  z-index: 10;
  border-radius: 4px;
  -webkit-transition: top 600ms, bottom 200ms;
  transition: top 600ms, bottom 200ms;
}

.callback-form {
  padding: 1em;
}

.callback-form input {
  width: 80%;
  height: 2em;
  margin: 0 10% .2em 10%;
  padding: 0 1em;
  border-radius: 2em;
  border: 1px solid var(--darkPink);
  font-size: 1rem;
  color: var(--darkGray);
  font-weight: bold;
}

.callback-form input:last-of-type {
  background: var(--pink);
}

.callback-form label {
  display: block;
  padding: .5em;
  text-align: center;
  font-size: 0.9em;
  font-weight: bold;
}

#close-popup-form-btn {
  width: 80%;
  height: 2em;
  line-height: 2em;
  text-align: center;
  display: block;
  margin: 0 10%;
  border-radius: 2em;
  border: 1px solid #dbc7c7;
  padding: 0 1em;
  color: var(--darkGray);
  font-weight: bold;
}

.callback-form input:last-of-type:hover,
#close-popup-form-btn:hover {
  background: var(--darkPink);
}

/* Navigation
==================== */

.top-nav {
  width: 100%;
  background: #fff;
  position: fixed;
  -webkit-transition: top 400ms;
  transition: top 400ms;
  top: -25em;
  z-index: 1;
  border-bottom: 3px solid #E9DFE9;
}

.top-nav ul {
  text-align: center;
  padding: 1em 0;
}

.top-nav li a {
  width: 100%;
  display: inline-block;
  padding: .6em 0;
  text-transform: uppercase;
  -webkit-transition: color 200ms;
  transition: color 200ms;
  border-radius: 6px;
  color: #000;
}

.top-nav li a:hover {
  color: #d67d7d;
}

/* Home banner
==================== */

.home-banner img {
  width: 100%;
}

.contact-container {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #EDE3ED;
  font-weight: bold;
  font-size: .9em;
  padding: .4em 0;
  -webkit-box-shadow: inset 0 15px 8px -16px #111;
          box-shadow: inset 0 15px 8px -16px #111;
  clear: both;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-animation: appearContactContainer 500ms ease-in-out 100ms 1 normal forwards;
          animation: appearContactContainer 500ms ease-in-out 100ms 1 normal forwards;
}

.contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gsm-operator {
  margin: 0 .3em;
}

/* Three cards
==================== */

.three-cards {
  width: 90%;
  margin: 0 5%;
}

.one-of-three-cards {
  overflow: hidden;
  position: relative;
}

.one-of-three-cards img {
  width: 90%;
  margin: 0 5%;
}

.card-btn {
  position: absolute;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background: #000000;
  color: #fff;
  padding: 0 .5em;
  opacity: .8;
  -webkit-transition: opacity 400ms;
  transition: opacity 400ms;
  border: solid 1px var(--darkGray);
}

.card-btn:hover {
  opacity: .9;
}

.card-btn span {
  display: block;
  padding: .4em 2em;
  font-size: 1.5em;
}

/* Heading
==================== */

.home-cards-heading {
  height: 3em;
  line-height: 3em;
  font-size: 1.3em;
  margin-bottom: .3em;
}

/* Home cards
==================== */

.main-content {
  background: #F2F2F2;
}

.card {
  height: 290px;
  text-align: center;
}

.card img {
  width: 140px;
  height: auto;
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
  border-radius: 2px;
  border: 1px dotted var(--darkPink);
}

.card img:hover {
  -webkit-transform: scale(1.05) translateZ(0);
          transform: scale(1.05) translateZ(0);
}

.card-price {
  width: 140px;
  margin: 0 auto;
  font-weight: bold;
  font-size: .9em;
  text-align: left;
}

.card-price span {
  display: block;
  color: var(--gray);
  font-size: .9em;
}

.card-price span:last-of-type {
  font-size: 1.2em;
  color: var(--darkGray);
}

.card-status {
  font-size: .8em !important;
}

/* Single page
==================== */

.single-container {
  padding-top: .5em;
  background: #fff;
}

.single-image {
  text-align: center;
  padding: 0 1em;
}

.single-image img {
  width: 80%;
  height: auto;
  border: 1px dotted var(--darkPink);
  border-radius: 2px;
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}

.single-image img:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.single-info {
  width: 84%;
  padding: 1em 8%;
  font-weight: bold;
}

.single-status {
  color: var(--gray);
}

.single-info span {
  display: block;
}

.single-price {
  font-size: 3em;
  line-height: .9;
  text-align: right;
}

.single-price span {
  font-size: .5em;
  margin-right: 3px;
  font-weight: normal;
}

.single-title {
  font-size: 1.5em;
}

.single-intro {
  padding: 2em 0 3em 0;
  color: var(--gray);
  font-size: .93em;
}

.sidebar {
  background: #F2F2F2;
  padding-top: .5em;
  margin-top: 2em;
  border-top: 1px dotted var(--darkPink);
}

/* Comments
==================== */

.comment-form {
  width: 80%;
  margin: .2em 10%;
  font-weight: bold;
}

.comment-form label {
  font-size: .75em;
  margin-left: .2em;
}

.comment-form textarea {
  width: 100%;
  min-height: 10em;
  margin: .1em;
  padding: .4em .8em;
  border-radius: 3px;
  border: solid 1px #b4b4b4;
  overflow: hidden;
  resize: vertical;
  font-size: 1.05em;
}

.comment-form input {
  display: block;
  width: 15em;
  height: 2.5em;
  margin: .1em;
  border-radius: 3px;
  border: solid 1px #b4b4b4;
  padding: .2em .5em;
  font-size: 1em;
}

.comment-form input[type=submit] {
  background: var(--darkGray);
  cursor: pointer;
  color: #fff;
  margin-top: .5em;
}

.comment-form input[type=submit]:hover {
  background: var(--gray);
}

/* Comment List
==================== */

#comments {
  padding: 0 1.5em;
}

.commentlist {
  padding: 1em 2em;
}

.commentlist li {
  margin-bottom: .5em;
  padding-bottom: .5em;
  border-bottom: 1px solid var(--darkPink);
}

.comment-reply-title {
  margin-left: 10%;
}

.comment-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: .3em;
}

.comment-author .fn {
  font-style: normal;
}

.avatar {
  margin-right: .7em;
  border-radius: 50%;
}

.comment-meta {
  font-size: .75em;
  padding-left: 1px;
}

.comment-meta a {
  color: var(--gray);
}

.comment-awaiting-moderation {
  font-style: normal;
  color: var(--gray);
  font-size: .8em;
}

.comment-reply-link {
  border-radius: 2px;
  font-weight: bold;
}

.comment-reply-link:hover {
  text-decoration: underline;
}

.commentlist p {
  margin: .3em 0;
}

/* Pagination
==================== */

.pagination {
  display: block;
  text-align: center;
  clear: both;
  margin: 1.5em auto;
  padding: 0 1em;
  font-weight: bold;
}

/* All buttons */

.pagination span,
.pagination a {
  display: inline-block;
  text-align: center;
  min-width: 2em;
  border-radius: 2px;
  padding: 1px 5px;
}

.pagination span {
  color: #fff;
  background: var(--darkGray);
  border: solid 1px var(--darkGray);
}

.pagination span:hover {
  cursor: not-allowed;
}

.pagination a {
  border: solid 1px var(--darkGray);
  color: #000;
}

.pagination a:hover,
.pagination a:active {
  background: var(--lightGray);
}

/* Footer
==================== */

footer {
  text-align: left;
  padding-top: 1em;
  background: #3C3C3C;
  line-height: 1.75;
}

footer nav {
  padding: 1em 0 1em 3em;
}

footer h4 {
  color: #fff;
  font-size: 0.9em;
  text-transform: uppercase;
}

footer a {
  color: #9e9e9e;
  font-size: 0.85em;
}

footer a:hover {
  color: #fff;
}

.copyright {
  padding-top: 6em;
  padding-bottom: 2em;
  color: #999;
}

/* Reset
==================== */

@media (min-width: 840px) {
  main {
    padding-top: 0;
  }
}

/* Header and Nav
==================== */

@media (min-width: 840px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 4em;
    background: var(--lightPink);
  }

  .header-logo {
    display: inline-block;
    font-size: 1.5em;
    padding: 0 1.5em;
  }

  .nav-logo {
    display: none;
  }

  .nav-search input {
    display: none;
  }

  .header-search input {
    width: 18em;
  }

  #nav-callback {
    display: none;
  }
}

/* Popup Callback
==================== */

@media (min-width: 640px) {
  #popup-callback {
    width: 35em;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }

  .callback-form input,
  .callback-form label,
  #close-popup-form-btn {
    display: block;
    width: 20em;
    margin: .2em auto;
  }
}

/* Navigation
==================== */

@media (min-width: 840px) {
  #hamburger-container {
    display: none;
  }

  .top-nav {
    position: initial;
    width: 100%;
    height: 3.2em;
    margin: 0;
    top: 0em;
    border: none;
  }

  .top-nav ul {
    padding: .3em;
  }

  .top-nav li {
    margin-right: 1em;
    display: inline-block;
  }

  .top-nav li a {
    width: auto;
    padding: .3em .2em;
  }
}

/* Three cards
==================== */

@media (min-width: 768px) {
  .one-of-three-cards img {
    width: 96%;
    margin: 0 2%;
  }
}

/* Home cards
==================== */

@media (min-width: 500px) {
  .card {
    height: 340px;
  }

  .card img {
    width: 180px;
  }

  .card-price {
    width: 180px;
  }
}

/* Single page
==================== */

@media (min-width: 500px) {
  .single-image img {
    width: 100%;
  }

  .single-info {
    padding: 1em;
  }
}

/* Comments
==================== */

@media (min-width: 600px) {
  .comment-form {
    width: 35em;
    margin: 2em;
  }
}

/* Comment List
==================== */

@media (min-width: 600px) {
  .comment-reply-title {
    margin-left: 1.7em;
  }
}

