.unstyled-list {
    list-style: none;
}

.min-height {
    min-height: 600px;
}

@media(min-width: 840px) {
    .hide-on-desktop {
        display: none !important;
    }
}

.custom-file {
    overflow: hidden;
}

.fa-15x {
    font-size: 1.4em !important;
    width: 20px;
}

.message {
    display: inline-block;
    padding: .5em 1em;
    transition: transform 300ms;
    animation: appearFromLeft 8s;
    animation-fill-mode: forwards;
    font-size: .9em;
    color: #fff;
    border-radius: 5px;
    margin-top: .5em;
}

.loader {
    width: 50px;
    height: 50px;
    display: inline-block;
    border: 4px solid color(pink);
    border-radius: 50%;
    border-top: 4px solid color(pink-darkest);
    -webkit-animation: spin 700ms linear infinite; /* Safari */
    animation: spin 700ms linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.alert-pink {
    background: color(pink);
    border: 1px solid color(pink-dark);
    color: #000;
    font-weight: normal;
}

.display-4 {
    font-size: 1.5rem;
}

.grey {
    color: #333;
}

.editing-form {
    input[type=text] {
        font-size: 1.8em;
        border: 0;
        background: transparent;
    }
    textarea {
        height: auto;
        font-size: 1.2em;
        border: 0;
        background: transparent;
    }
}

.compact-table {
    tr {
        line-height: 16px;
    }
    td {
        padding: 2px 10px;
        vertical-align: middle;
    }
}