$colors: (
    pink-light: #f9f8f6,
    pink: #EDE2ED,
    pink-dark: #ecdcdc,
    pink-darkest: #974c4c,
    grey: #646464,
    grey-dark: #444
);

$btnPrimaryBg: #f7f1f7;
$btnSuccessBg: #ecddddbd;

// Typography
$mainFont: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

$sm-screen: 576px;