.table > tbody > tr > td, .table>tfoot>tr>td{
	vertical-align: middle;
}

table#cart img {
	width: 60px;
}

@media screen and (max-width: 600px) {
	.actions {
		text-align: center;
	}

	.actions .btn{
		width: 100px;
		margin: 5px auto;
	}

	table#cart thead {
		display: none;
	}

	table#cart tbody td {
		display: block;
		padding: .6rem;
		min-width:320px;
	}
	table#cart tbody tr td:first-child {
		color: #000;
		text-align: center;
		font-size: 1.5em;
	}

	table#cart tbody td:before {
		content: attr(data-th);
		font-weight: bold;
		display: block;
		width: 90%;
		margin: 8px 5%;
		text-align: center;
	}

	table#cart tfoot td {
		display:block;
	}

	table#cart tfoot td .btn {
		display:block;
	}

	table#cart img {
		margin: .8em auto;
	}
}

.cart[data]::after {
	content: attr(data);
	display: inline-block;
	line-height: 17px;
	min-width: 17px;
	height: 17px;
	font-size: .8em;
	text-align: center;
	border-radius: 50%;
	background: #974C4C;
	color: #fff;
}