/* Hamburger
==================== */

#hamburger-container {
	opacity: .9;
	height: 50px;
	position: fixed;
	top: 0;
	font-size: 1.7em;
	line-height: 1.8em;
	background: $lightPink;
	transition: all 300ms;
	z-index: 11;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;

	#hamburger {
		width: 26px;
		height: 33px;
		position: absolute;
		color: #313131;
		top: 50%;
		margin-top: -17px;
		display: block;
	
		.lines {
			width: 26px;
			height: 4px;
			left: 0px;
			background: #000;
			position: absolute;
			border-radius: 5px;
		}
		
		.line1 { top: 8px; }
		.line2 { top: 16px; }
		.line3 { top: 24px; }
	}
}

.hamburger-up {
	width: 100%;

	#hamburger {
		left: 15px;
	}
}

.hamburger-down {
	width: 1.8em;
	position: fixed;
	margin: .5em;
	border-radius: 3px;
	border: solid 1px #b8b8b8;

	#hamburger {
		left: 11px;
	}
}
.hamburger:hover {
	background: $darkGray;
}