.home-cards-heading {
	height: 3em;
	line-height: 3em;
	font-size: 1.3em;
	margin-bottom: .3em;
}

.main-content {
	background: #F2F2F2;
}

.card {
	height: 290px;
	text-align: center;
}

.card img {
	width: 140px;
	height: auto;
	transition: transform 300ms;
	border-radius: 2px;
	border: 1px dotted $darkPink;
}

.card img:hover {
	transform: scale(1.05) translateZ(0);
}

.card-price {
	width: 140px;
	margin: 0 auto;
	font-weight: bold;
	font-size: .9em;
	text-align: left;
}

.card-price span {
	display: block;
	color: $gray;
	font-size: .9em;
}

.card-price span:last-of-type {
	font-size: 1.2em;
	color: $darkGray;
}

.card-status {
	font-size: .8em !important;
}