.three-cards {
	width: 90%;
	margin: 0 5%;
}

.one-of-three-cards {
	overflow: hidden;
	position: relative;
}

.one-of-three-cards img {
	width: 90%;
	margin: 0 5%;
}

.card-btn {
	position: absolute;
	bottom: 10%;
	left: 50%;
	transform: translate(-50%);
	background: #000000;
	color: #fff;
	padding: 0 .5em;
	opacity: .8;
	transition: opacity 400ms;
	border: solid 1px $darkGray;
}

.card-btn:hover {
	opacity: .9;
}

.card-btn span {
	display: block;
	padding: .4em 2em;
	font-size: 1.5em;
}