// Modules
@import 'modules/variables';
@import 'modules/normalize';
@import 'modules/common';

@import 'hamburger';
@import 'banner';
@import 'header';
@import 'callback';
@import 'nav';
@import 'gsm';
@import 'three-cards';
@import 'home-cards';
@import 'single-page';
@import 'pagination';
@import 'footer';


@import 'animations';


/* Reset
==================== */

@media (min-width: 840px) {
	main {
		padding-top: 0;
	}
}

/* Header and Nav
==================== */

@media (min-width: 840px) {
	header {
		display: flex;
		align-items: center;
		min-height: 4em;
		background: $lightPink;
	}
	.header-logo {
		display: inline-block;
		font-size: 1.5em;
		padding: 0 1.5em;
	}
	.nav-logo {
		display: none;
	}
	.nav-search input {
		display: none;
	}
	.header-search input {
		width: 18em;
	}
	#nav-callback {
		display: none;
	}
}

/* Popup Callback
==================== */

@media (min-width: 640px) {
	#popup-callback {
		width: 35em;
		left: 50%;
		transform: translate(-50%);
	}
	.callback-form input,
	.callback-form label,
	#close-popup-form-btn {
		display: block;
		width: 20em;
		margin: .2em auto;
	}
}

/* Navigation
==================== */

@media (min-width: 840px) {
	#hamburger-container {
		display: none;
	}
	.top-nav {
		position: initial;
		width: 100%;
		height: 3.2em;
		margin: 0;
		top: 0em;
		border: none;
	}
	.top-nav ul {
		padding: .3em;
	}
	.top-nav li {
		margin-right: 1em;
		display: inline-block;
	}
	.top-nav li a {
		width: auto;
		padding: .3em .2em;
	}
}
/* Three cards
==================== */

@media (min-width: 768px) {
	.one-of-three-cards img {
		width: 96%;
		margin: 0 2%;
	}
}

/* Home cards
==================== */

@media (min-width: 500px) {
	.card {
		height: 340px;
	}
	.card img {
		width: 180px;
	}
	.card-price {
		width: 180px;
	}
}

/* Single page
==================== */

@media (min-width: 500px) {
	.single-image img {
		width: 100%;
	}
	
	.single-info {
		padding: 1em;
	}
}


/* Comments
==================== */

@media (min-width: 600px) {
	.comment-form {
		width: 35em;
		margin: 2em;
	}
}

/* Comment List
==================== */

@media (min-width: 600px) {
	.comment-reply-title {
		margin-left: 1.7em;
	}
}