* {
	padding: 0;
	margin: 0;
}

html {
	height: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

body {
	line-height: 1.6;
	font-family: $mainFont;
}

img {
	max-width: 100%;
}

li {
	list-style: none;
}

main {
	padding-top: 3em;
}

@media (min-width: 840px) {
	main {
		padding-top: 0;
	}
}