* 		{ padding: 0; margin: 0; }
img 	{ max-width: 100%; }
a:hover { text-decoration: none; }
li 		{ list-style: none; }
body {
	background: $lightPink;
	font-family: $mainFont;
}
main 	{
	padding-top: 3em;

}
.wrapper {
	max-width: 1200px;
	margin: auto;
}

@media (min-width: 840px) {
	main {
		padding-top: 0;
	}
}