// Body
$paperColor: #f5f8fa;
$lightGray: #e0e0e0;
$gray: #646464;
$darkGray: #444;
$pink: #EDE2ED;
$lightPink: #f9f8f6;
$darkPink: #ecdcdc;

// Typography
$mainFont: 'Montserrat', Arial, Helvetica, sans-serif;