// Body
$paperColor: #f5f8fa;
$lightGray: #e0e0e0;
$gray: #646464;
$darkGray: #444;
$pink: #EDE2ED;
$gsmColor: #EDE3ED;
$lightPink: #f9f8f6;
$darkPink: #ecdcdc;
$darkestPink: #974c4c;

// Typography
$mainFont: 'Montserrat', Arial, Helvetica, sans-serif;

// Other
$sliderBorder: solid 4px $darkGray;