.main-slider {
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    border-right: $sliderBorder;

    &:hover .imgbanbtn {
        opacity: 0.8;
    }
}

.slider-items {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;

    &-card {
        img {
            max-width: 100%;
            height: auto;
            max-height: 200px;
        }
        
        &:first-of-type {
            img {
                border-bottom: $sliderBorder;
            }
        }
    }
}

.imgbanbtn {
    width: 2rem;
    height: 3rem;
    background: $darkestPink;
    border-radius: .1rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2000;
    opacity: 0;
    cursor: pointer;
    background-size: 40%;
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity 200ms;

    &:hover {
        opacity: 1 !important;
    }
    
    &-prev {
        left: .31rem;
    }
    
    &-next {
        right: .31rem;
    }
}

@media(min-width: 1000px) { .main-slider { min-height: 400px; }}
@media(max-width: 1000px) { .main-slider { min-height: 200px; }}