header {
	display: none;
}

.nav-logo,
.header-logo {
	width: 100%;
	display: block;
	font-size: 1.8em;
	font-weight: bold;
	text-transform: uppercase;
	margin: .5em auto;
	color: #000;
	transition: opacity 200ms;

	&:hover {
		color: #424242;
	}
}

.header-search input,
.nav-search input {
	width: 15.5em;
	height: 2em;
	line-height: 2em;
	margin: 5px auto;
	padding: 0 1em;
	margin-top: .2em;
	border-radius: 2em;
	border: 1px solid $darkPink;
	font-size: 1rem;
	color: $darkGray;
}

.nav-and-header-btns {
	display: inline-block;
	width: 13em;
	margin: 1.3em auto;
	padding: .5em 1em;
	border-radius: 10em;
	color: #fff;
	transition: background-color 200ms;
	background: #3c3c3c;
	text-align: center;
	font-size: .9em;
	cursor: pointer;
}

.nav-and-header-btns {
	background: #554d4d;
}

@media (min-width: 768px) {
	header {
		display: flex;
		align-items: center;
		min-height: 4em;
		background: $lightPink;
	}

	.header-logo {
		display: inline-block;
		width: auto;
		text-align: left;
		margin: 0;
		padding: 0 1.5em;
	}
	
	.nav-logo {
		display: none;
	}

	.nav-search input {
		display: none;
	}

	.header-search input {
		width: 18em;
	}
}