.top-nav {
	width: 100%;
	background: #fff;
	position: fixed;
	transition: top 400ms;
	top: -25em;
	z-index: 11;
	border-bottom: 3px solid #E9DFE9;

	ul {
		text-align: center;
		padding: 1em 0;
	}

	li {
		a {
			width: 100%;
			display: inline-block;
			padding: .6em 0;
			text-transform: uppercase;
			transition: color 200ms;
			border-radius: 6px;
			color: #000;
			text-decoration: none;
	
			&:hover {
				color: #d67d7d;
			}
		}
	}

	.close-top-nav {
		display: inline-block;
	}
	
}

@media (min-width: 840px) {
	#hamburger-container {
		display: none;
	}

	.top-nav {
		position: initial;
		width: 100%;
		height: 3.2em;
		margin: 0;
		top: 0em;
		border: none;

		ul {
			padding: .3em;
		}

		li {
			margin-right: 1em;
			display: inline-block;

			a {
				width: auto;
				padding: .3em .2em;
			}
		}

		.active {
			border-bottom: 2px solid $darkestPink;
		}

		.close-top-nav {
			display: none;
		}
	}
}