.single-container {
	padding-top: .5em;
	background: #fff;
	
	.phone-form {
		margin: .3em 2px;
		color: $gray;

		button {
			border-radius: 3px;
			border: solid 1px $darkPink;
			padding: 5px 10px;
			background: $darkPink;
			cursor: pointer;
			transition: background-color 300ms;

			&:hover {
				background: darken($color: $darkPink, $amount: 5);
				transition: background-color 300ms;
			}
		}
	}
}

.images-to-show {
	width: 80px;
}

.active-photo {
	border:solid 1px pink;
	filter: brightness(70%);
}

.single-image {
	img {
		width: 80%;
		height: auto;
		border: 1px dotted $darkPink;
		transition: transform 300ms;
	}
}

.single-price {
	font-size: 2em;
	line-height: .9;
	text-align: right;

	span {
		font-size: .5em;
		margin-right: 3px;
		font-weight: normal;
	}
}

.sidebar {
	background:#F2F2F2;
	border-top: 1px dotted $darkPink;
}


@media (min-width: 500px) {
	.single-image img {
		width: 100%;
	}

	.single-price {
		font-size: 2.5em;
	}
}
@media (min-width: 500px) { .images-to-show { width: 100px; }}
@media (max-width: 370px) { .images-to-show { width: 70px; }}
@media (max-width: 290px) { .images-to-show { width: 60px; }}