[mysqld]
# ==== Charset and collation ==== #
default_authentication_plugin=mysql_native_password
character_set_server=utf8mb4
collation_database=utf8mb4_general_ci
collation_server=utf8mb4_general_ci

# ==== InnoDB ==== #
innodb_flush_log_at_trx_commit=0
innodb_flush_method=O_DIRECT
innodb_buffer_pool_instances=8
innodb_thread_concurrency=8
innodb_checksum_algorithm=crc32

# To avoid DNS resolution on connect
skip_name_resolve

query_cache_size=0
query_cache_type=0


# If mysql server has no slaves and doesn't do backups, then set to 0, 
# it will increase performance.
# sync_binlog=0