.search-form {
    display: inline-block;
    line-height: 2em;
    height: 2em;
    border: 1px solid color(pink-dark);
    border-radius: 2em;
    padding: 0 1em;


    .nav-search & {
        display: inline-block;
        margin-bottom: 10px;
    }

    &__input {
        border: none;
        background: transparent;
        font-size: 1rem;
        color: color(grey-dark);

        &:focus {
            outline: none;
        }
    }

    &__button {
        height: 1.6em;
        line-height: 1em;
        margin: 2px 0 0 0;
        background: none;
        box-shadow: none;
        border: 0;
        color: #383838;
        padding: 0 8px 0 10px;
        border-left: solid 1px color(pink-dark);
        cursor: pointer;

        &:hover {
            border: 0;
            outline: none;
            box-shadow: none;
            border-left: solid 1px #ccc;
        }
    }
}

@media (min-width: 768px) {
    .nav-search {
        .search-form {
            display: none;
        }
    }
}